
html {
  box-sizing: border-box;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.segment.show-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

body {
  background-color: #233343;
  color: white;
}

input::placeholder{
  color: grey !important;
}

#Capa_1 {
  color: white;
  filter: invert(100%);
}